@model Department

<div class="row g-4">
    <div class="col-md-6">
        <div class="mb-3">
            <label asp-for="Code" class="form-label fw-bold"></label>
            <input asp-for="Code" class="form-control" readonly />
        </div>

        <div class="mb-3">
            <label asp-for="Name" class="form-label fw-bold"></label>
            <input asp-for="Name" class="form-control" readonly />
        </div>
    </div>

    <div class="col-md-6">
        <div class="mb-3">
            <label asp-for="CreateAt" class="form-label fw-bold"></label>
            <input asp-for="CreateAt" class="form-control" readonly />
        </div>
    </div>
</div>